# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
pprint(db.establishments.find_one())

{'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4591.765489457773,
 'FHRSID': 1043695,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6BL',
 'RatingDate': '2018-04-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667cad8078b275b051fd606a'),
 'geocode': {'latitude': 51.083812, 'longitude': 1.195625},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1043695',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}

In [22]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = db.establishments.count_documents(query)
pprint(count)
pprint("")

# Display the first document in the results using pprint
result = list(establishments.find(query))
pprint(result[0])

41
''
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667cad8178b275b051fd7b9a'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [23]:
# Convert the result to a Pandas DataFrame
# results_df = pd.DataFrame(result)
results_df = pd.json_normalize(result)


# Display the number of rows in the DataFrame
print("Number of Rows in Results: ", len(results_df))

# Display the first 10 rows of the DataFrame
results_df.head(10)

Number of Rows in Results:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,667cad8178b275b051fd7b9a,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,667cad8178b275b051fd7f1c,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,667cad8178b275b051fd8228,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,667cad8178b275b051fd8416,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,667cad8178b275b051fd8423,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,667cad8178b275b051fd8dc2,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,667cad8178b275b051fd8fe2,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,667cad8178b275b051fda50f,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,667cad8178b275b051fda973,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,667cad8178b275b051fdb164,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [38]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4. LOCAL AUTHORITY IS NOT LONDON, ITS CITY OF LONDON COPORATION
London = {"AddressLine2": 'London', "RatingValue": {'$gte': 4}}
# Use count_documents to display the number of documents in the result
count = db.establishments.count_documents(London)
pprint(count)
pprint("")
# Display the first document in the results using pprint
lon_list = list(establishments.find(London))
pprint(lon_list[0])

99
''
{'AddressLine1': 'Reeds River Cruises LtdKings ReachRiver ThamesSouthwark',
 'AddressLine2': 'London',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': 'Mv Valulla',
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4640.460834256174,
 'FHRSID': 294900,
 'LocalAuthorityBusinessID': 'PI/000019066',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'RM15 5QY',
 'RatingDate': '2016-08-23T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667cad8178b275b051fdb932'),
 'geocode': {'latitude': 51.504071, 'longitude': 0.287555},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/294900',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}

In [39]:
# Convert the result to a Pandas DataFrame
# results_df = pd.DataFrame(result)
london_df = pd.json_normalize(lon_list)


# Display the number of rows in the DataFrame
print("Number of Rows in Results: ", len(london_df))

# Display the first 10 rows of the DataFrame
london_df.head(10)

Number of Rows in Results:  99

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,667cad8178b275b051fdb932,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,667cad8178b275b051fdcec5,1408389,0,21/00294/CP,Foodyz21,Restaurant/Cafe/Canteen,1,513 Abbey Road,London,,...,0.121862,51.489920,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,667cad8178b275b051fdced4,1438466,0,22/00008/CP,Finest Chicken Peri Peri Grill,Takeaway/sandwich shop,7844,515 Abbey Road,London,,...,0.121542,51.489926,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,667cad8178b275b051fdcede,1156030,0,PI/000297297,Bona,Restaurant/Cafe/Canteen,1,25 Dartmouth Road,London,,...,0.014344,51.383120,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,667cad8178b275b051fdcf60,930899,0,16/00266/CP,The Contract Dining Company At Willow Bank Pri...,School/college/university,7845,Seacourt Road,London,,...,0.125247,51.497376,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,667cad8178b275b051fdcf62,776404,0,15/00376/CP,Toddleswood Pre-School At Willowbank School,Caring Premises,5,Seacourt Road,London,,...,0.125247,51.497376,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,667cad8178b275b051fdcf7c,875250,0,14/00066/CP,The Ness Cafe,Restaurant/Cafe/Canteen,1,Belvedere Road,London,,...,0.133478,51.506094,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,667cad8178b275b051fdcf89,1064870,0,18/00191/CP,Turo Turo,Mobile caterer,7846,2 Portmeadow Walk,London,,...,0.125037,51.498425,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,667cad8178b275b051fdd036,1223157,0,20/00040/CP,Falconwood Food & Wine,Retailers - other,4613,15 Lingfield Crescent,London,,...,0.081220,51.459120,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,667cad8178b275b051fdd037,996676,0,17/00248/CP,Falcon News,Retailers - other,4613,1 Lingfield Crescent,London,,...,0.081220,51.459122,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Query
query = {"culture": "Maya"}
fields = {
    "accessionNumber": 1,
    "accessionYear": 1,
    "classification": 1,
    "country": 1,
    "department": 1,
    "measurements.elementMeasurements.Height": 1,
    "measurements.elementMeasurements.Width": 1,
    "measurements.elementMeasurements.Depth": 1,
    "medium": 1,
    "title": 1,
    "objectURL": 1
}
sort = ('measurements.elementMeasurements.Height', -1)
limit = 5

# Cast the results as a list and save them to a variable
results = list(artifacts.find(query, fields).sort([sort]).limit(limit))

# Pretty print the results
pprint(results)

In [48]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# Define the search parameters
degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000
rating_value = 5
limit = 5

# Create the query
query = {
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "RatingValue": rating_value
}

# Define the sort order
sort = [("scores.Hygiene", -1)]

# Execute the query and print the results
latlong_list = list(establishments.find(query).sort(sort).limit(limit))
pprint(latlong_list)

[{'AddressLine1': '101 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Lucky Food & Wine',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.024793263386,
  'FHRSID': 695287,
  'LocalAuthorityBusinessID': 'PI/000182135',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SB',
  'RatingDate': '2022-06-25T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667cad8178b275b051fdd498'),
  'geocode': {'latitude': 51.4878934, 'longitude': 0.0910104},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695287',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': '112 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Fineway Cash & Carry',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.016995291011,
  'FHRSID': 694606,
  'LocalAuthorityBusinessID': 'PI/000116584',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SJ',
  'RatingDate': '2020-10-20T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667cad8178b275b051fdd485'),
  'geocode': {'latitude': 51.4876089, 'longitude': 0.0909382},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694606',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': '104 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Everest Stores Ltd',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.041728368117,
  'FHRSID': 695033,
  'LocalAuthorityBusinessID': 'PI/000172986',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SJ',
  'RatingDate': '2021-09-13T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667cad8178b275b051fdd4bc'),
  'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695033',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': '102 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Premier Express',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.038806595731,
  'FHRSID': 695566,
  'LocalAuthorityBusinessID': 'PI/000188497',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SJ',
  'RatingDate': '2021-06-10T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667cad8178b275b051fdd4b4'),
  'geocode': {'latitude': 51.4877234, 'longitude': 0.0904552},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695566',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 5, 'Structural': 0}},
 {'AddressLine1': '152 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4646.930146257832,
  'FHRSID': 1069652,
  'LocalAuthorityBusinessID': 'PI/000206841',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2020-10-24T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('667cad8178b275b051fdd3a9'),
  'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1069652',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}]

In [49]:
# Convert result to Pandas DataFrame
sorted_df = pd.json_normalize(latlong_list)

In [50]:
sorted_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,667cad8178b275b051fdd498,695287,0,PI/000182135,Lucky Food & Wine,Retailers - other,4613,101 Plumstead High Street,,Plumstead,...,0.091010,51.487893,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,667cad8178b275b051fdd485,694606,0,PI/000116584,Fineway Cash & Carry,Retailers - other,4613,112 Plumstead High Street,,Plumstead,...,0.090938,51.487609,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,667cad8178b275b051fdd4bc,695033,0,PI/000172986,Everest Stores Ltd,Retailers - other,4613,104 Plumstead High Street,,Plumstead,...,0.090323,51.487672,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,667cad8178b275b051fdd4b4,695566,0,PI/000188497,Premier Express,Retailers - other,4613,102 Plumstead High Street,,Plumstead,...,0.090455,51.487723,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,667cad8178b275b051fdd3a9,1069652,0,PI/000206841,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,1,152 Plumstead High Street,,Plumstead,...,0.092743,51.487035,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Build the aggregation pipeline
# Write a match query to find only the documents about artifacts that have a classification where "Sculpture" is contained the value, and have a width greater than or equal to 10cm and less than 50cm, and have a height greater than or equal to 20cm and less than 60cm.
match_query = {"$match":{"scores.Hygiene": 0}, 
               "measurements.elementMeasurements.Width": {"$gte": 10, "$lt": 50}, "measurements.elementMeasurements.Height": {"$gte": 20, "$lt": 60}}}

# Write an aggregation query that counts the number of documents, grouped by "classification" and "culture"
group_query = {"$group": {"_id": {"classification": "$classification", "culture": "$culture"}, "count": {"$sum": 1}}}

# Create a dictionary that will allow the pipeline to sort by count in descending order
sort_query = {"$sort": {"count": -1}}

# Put the pipeline together
pipeline = [match_query, group_query, sort_query]

In [56]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}
# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': {"LocalAuthorityName": "$LocalAuthorityName"},'count': { '$sum': 1 }}}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}
# Print the number of documents in the result
pipeline = [match_query, group_query, sort_values]
# Print the first 10 results
results = list(establishments.aggregate(pipeline))
print("Number of rows in result: ", len(results))

Number of rows in result:  55

In [57]:
# Convert the result to a Pandas DataFrame
results_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("Number of Rows in Results: ", len(results_df))

# Display the first 10 rows of the DataFrame
results_df.head(10)

Number of Rows in Results:  55

   count _id.LocalAuthorityName
0   1130                 Thanet
1    882              Greenwich
2    713              Maidstone
3    711                 Newham
4    686                  Swale
5    680             Chelmsford
6    672                 Medway
7    607                 Bexley
8    586        Southend-On-Sea
9    542               Tendring